.Top-container {
    background-color: #FF7A00;
    background-image: linear-gradient(#FF7A00, #FFEFCF);
    height: 1000px;
    width: 1000px;
    padding-right: 1000px;
    padding-bottom: 50px;
    padding-top: 150px;
    text-align: center;
}
body {
    margin: 0px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: larger;

}
head{
    font-size: larger;
}
.Middle-Container{
}
.Bottom-container{
}
h1{

    font-family: Caveat;
    margin-top: 100px;
}
p{
    font-family: Arial;
}
.pro{
    text-decoration: underline;
}
.mountain{
    position: absolute;
    width: 850px;
    margin-top: 0px;
    margin-right: 0px;
    bottom: 0px;
    top: 692px;

}
.profile{

}
.cloud-1{

}
.cloud-2 {
    right: 700px;
    top: 125px;
    position: absolute;
}
div{

}
.heading{
    margin-left: 650px;
}

